body{
    font-family: San-serif,arial ;
    margin:0;
    padding:0;
    background :#f2f2f2;
}
#container{
    padding:5px;
    display :none;
}
h2{
    background :f2f8ff;
}
#strong_container{
    width:100vw;
    padding:5px;
    
}
a {
    text-decoration :none;
    font-size:18px;
}
a:hover{
    color:red;
}
#next-container {
  margin-top: 20px;
  padding: 12px 25px;
  background: #28a745;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  border-radius: 8px;
  transition: background 0.3s;
}
#next-step{
    display:flex;
    align-items:center;
    justify-content: space-between;
}

#next-step a{
color:white
}